body {
  margin: 0;
  padding: 0;
}
#canvas {
  position: relative;
  width: 100%;
}
.mountain > img {
  width: 100%;
  height: auto;
}
.sun {
  position: absolute;
  bottom: 60%;
  left: 10%;
}
.sun > img {
  height: 250px;
  width: 250px;
}
.sea {
  position: absolute;
  bottom: 0%;
  width: 100%;
}
.sea > img {
  width: 100%;
  height: 400px;
}
.island > img {
  width: 200px;
  height: 200px;
}
.island {
  position: absolute;
  bottom: 12%;
  left: 70%;
}
img {
  transition: transform 0.5s, filter 1.5s ease-in-out;
}
.interactive {
  transition: transform 0.5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}

.interactive:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.interactive-btn {
  float: right;
}
.interactive-btn > input {
  width: 20px;
  height: 20px;
}

.interactive-btn {
  padding: 25px;
  display: flex;
  height: 20px;
  align-items: center;
}
